body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
.error-signin{
	float: left;
	position: absolute;
	margin-top: -30px;
	font-size: 16px;
	color: red;
}