<h3>Edit Campign</h3>
 <div class="panel-heading"></div>
	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>Name</th>
				<th>url</th>
				<th>created at</th>
				<th>start at</th>
				<th>end at</th>
				<th>client name</th>
				<th>campign manager name</th>
				<th>notes</th>
				<th>active?</th>
			</tr>
		</thead>
		<tbody>
			<tr>
				<td>{{campign.id}}</td>
				<td>{{campign.name}}</td>
				<td>{{campign.url}}</td>
				<td>{{campign.createdAt}}</td>
				<td>{{campign.startAt}}</td>
				<td>{{campign.endAt}}</td>
				<td>{{campign.clientName}}</td>
				<td>{{campign.campignManagerName}}</td>
				<td>{{campign.notes}}</td>
				<td>{{campign.active}}</td>
			</tr>
		</tbody>
	</table>
</div>