<div class="panel panel-default">
	<ul class="nav nav-pills gap-2-1">
  		<li ng-class="{active: not_active == false}" ><a href="#/campigns/view/active" ng-click="">Active</a></li>
  		<li ng-class="{active: not_active == true}"><a href="#/campigns/view/notactive" ng-click="">Not Active</a></li>
	</ul>
  <div class="panel-heading">List of Active Campigns</div>
	<table class="table">
		<thead>
			<tr>
				<th>#</th>
				<th>Campign Id</th>
				<th>Campign Name</th>
				<th>Edit</th>
				<th>Info</th>
				<th>Deactivate</th>
			</tr>
		</thead>
		<tbody>
			<tr ng-repeat="campign in campigns">
				<td>{{$index + 1}}</td>
				<td>{{campign.id}}</td>
				<td>{{campign.name}}</td>
				<td><span class="label label-success">Edit</span></td>
				<td><span class="label label-info">Info</span></td>
				<td><span class="label label-danger">Deactivate</span></td>
			</tr>
		</tbody>
	</table>
</div>