<div class="container">
	<div class="row">
		<ol class="breadcrumb">
  			<li class="not-active">
  				<a href="#/">
  					<i class="glyphicon glyphicon-home"></i> Home
  				</a>
  			</li>
  			<li class="active">
  				<i class="glyphicon glyphicon-dashboard"></i> Dashboard
  			</li>
		</ol>
	</div>	
</div>
<div class="container">
  <div class="row">
    <div class="col-xs-6 col-md-4">
      <div class="menu well">
        <ul class="nav">
          <li>
            <h6 class="muted">
              <i class="icon-user"></i>
                Campigns
            </h6>
          </li>
          <li><a href="/users/expertises">Show All</a></li>
          <li><a href="/users/online_profiles">Create A Campign</a></li>
          <li>
            <h6 class="muted"><i class="icon-cog"></i>Leads</h6>
          </li>
<li class="active"><a href="/users/profile_setting">Profile Settings</a></li>
<li><a href="/users/edit">Account Settings</a></li>
<li><a href="/users/notification_setting">Notification Settings</a></li>
<li><a href="/users/payout">Payout Settings</a></li>
</ul>
</div>
</div>

<div class="col-xs-12 col-md-8">
  <div class="well">
    <legend>Here data will be display</legend>
  </div>
</div>

  </div>
</div>
