<div class="navbar navbar-default navbar-fixed-top">
    	<div class="container">
        	<div class="navbar-header">
          	<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="#">
            {{#site}}
              {{#logo}}<img src="{{logo}}" alt="{{title}}" style="height:20px;"/>{{/logo}}
              {{^logo}}{{title}}{{/logo}}
            {{/site}}
          </a>
        </div>
        <div class="navbar-collapse collapse">
          <ul class="nav navbar-nav">
            <li ng-class="getClass('/home')">
            	<a href="#">
            		<i class="glyphicon glyphicon-home"></i> Home
            	</a>
			      </li>
            <li ng-class="getClass('/dashboard')">
           	  <a href="#/dashboard">
            		<i class="glyphicon glyphicon-dashboard"></i> Dashboard
            	</a>
            </li>
            <li ng-class="getClass('/campigns/view')">
              <a href="#/campigns/view">
                <i class="glyphicon glyphicon-th-large"></i> Campigns
              </a>
            </li>
            <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Action<b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li ng-class="getClass('/users')">
                  <a href="#/users">
                    <i class="glyphicon glyphicon-star"></i>Users
                  </a>
                </li>
                <li ng-class="getClass('/clients')">
                  <a href="#/clients">
                    <i class="glyphicon glyphicon-star"></i> Clients
                  </a>
                </li>
                <li class="divider"></li>
                <li class="dropdown-header">Profile</li>
                <li ng-class="getClass('/me')">
                  <a href="#"><i class="glyphicon glyphicon-user"></i> Me</a>
                </li>
                <li ng-class="getClass('/me/edit')">
                  <a href="#"><i class="glyphicon glyphicon-edit"></i> Edit Profile</a>
                </li>
              </ul>
            </li>
          </ul>
          <ul class="nav navbar-nav navbar-right">
          	<li><a href="#/logout">Logout</a></li>
          	<li ng-class="{active: $scope.currentPage == 'help'}">
              <a href="#">Help</a>
            </li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
	</div>