<div class="container">
	<div class="row">
		<div class="col-sm-4">
			<h3>Drop me a line!</h3>
			<hr>
			<address>
			<strong>Email:</strong> <a href="mailto:#"> name@domain.com</a><br><br>
			<strong>Phone:</strong> {{site.contact}}
			</address>
		</div>	    
		<div class="col-sm-8 contact-form">
			<form id="contact" method="post" class="form" role="form">
				<div class="row">
					<div class="col-xs-6 col-md-6 form-group">
						<input class="form-control" id="name" name="name" placeholder="Name" type="text" required autofocus />
					</div>
					<div class="col-xs-6 col-md-6 form-group">
						<input class="form-control" id="email" name="email" placeholder="Email" type="email" required />
					</div>
				</div>
				<div class="row">
					<div class="col-xs-6 col-md-6 form-group">
						<input class="form-control" id="company" name="company" placeholder="Company" type="text" required autofocus />
					</div>
					<div class="col-xs-6 col-md-6 form-group">
						<input class="form-control" id="phone" name="phone" placeholder="Phone" type="phone" required />
					</div>
				</div>
				<textarea class="form-control" id="message" name="message" placeholder="Message" rows="5"></textarea>
				<br />
				<div class="row">
					<div class="col-xs-12 col-md-12 form-group">
						<button id="contact-form-submit-btn" class="btn btn-primary pull-right" type="submit">Submit</button>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>
<script>
	$(document).ready(function(){
		$('#contact-form-submit-btn').click(function(e){
			e.preventDefault();
			var contact = {}
				contact.name = $("input[name='name']").val();
				contact.email = $("input[name='email']").val();
				contact.phone = $("input[name='phone']").val();
				contact.company = $("input[name='company']").val();
				contact.message = $("textarea#message").val();
			if (contact.name && (contact.email || contact.phone) ){

				var request = $.ajax({
				  url: "/contact",
				  type: "POST",
				  data: contact
				});
				 
				request.done(function( ret ) {
					console.log(ret);
					if (ret.error){
						alert(ret.error);
					}else
						$('form#contact').html(ret.msg);
				});
				 
				request.fail(function( jqXHR, textStatus ) {
				  alert( "Request failed: " + textStatus );
				});		
			}
		});
	});
</script>